{
	auto_https off
}

http://platform.local {
    reverse_proxy automation-operation-centre:3000
}

# TODO: this needs to be HTTPS
http://keycloak.platform.local {
        reverse_proxy keycloak:8080 {
        # header_up Host {host}
        # header_up X-Forwarded-Proto {scheme}
        # header_up X-Forwarded-Host {host}
    }
}

# TODO: this needs to be HTTPS
mqtt.platform.local {
       reverse_proxy emqx:8083
}

http://emqx.platform.local {
         reverse_proxy emqx:18083
}

http://influx.platform.local {
       reverse_proxy influxdb:8086
}

http://aoc.platform.local {
      reverse_proxy automation-operation-centre:3000
}

http://editor.platform.local {
        reverse_proxy bitswan-editor:8080
}

http://portainer.platform.local {
      reverse_proxy portainer:9000
}
